# VITE_MASSIVE_API_BASE_URL=https://api.massive.com
# VITE_MASSIVE_API_KEY=your-api-key
# VITE_FLAG_AS_93_URL=https://raw.githubusercontent.com/Lissy93/currency-flags/master/assets/flags_svg
# VITE_FLAGCDN_URL=https://flagcdn.com/w20